<h1><%= @event.title %></h1>
<p>Created by <%= link_to @event.creator.email, user_path(@event.creator_id) %></p>
<p><%= @event.location %></p>
<p><%= @event.date %></p>

<% if user_signed_in? %>
<% if @event.attendees.find_by(id: current_user.id) %>
  <%= form_with model: @event, url: event_rsvp_path(@event, "id"), method: :delete do |form| %>
  <%= form.submit "Un-RSVP" %>
  <% end %>
<% else %>
  <%= form_with model: @event, url: event_rsvps_path(@event), method: :post do |form| %>
  <%= form.submit "RSVP" %>
  <% end %>
<% end %>
<% end %>

<h2>Attending:</h2>
<% if @attendees.empty? %>
<p>None yet</p>
<% else %>
  <% @attendees.each do |attendee| %>
  <div><%= link_to attendee.email, user_path(attendee.id) %></div>
  <% end %>
<% end %>

<% if user_signed_in? && current_user == @event.creator %>
<div class="settings">
  <h3>Settings</h3>
  <div class="link"><%= link_to "Edit event", edit_event_path %></div>
  <div class="link"><%= link_to "Delete event", event_path, data: {turbo_method: :delete } %></div>
</div>
<% end %>